body {
    height: 100%;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h2 {
    margin-bottom: 50px !important;
}

@keyframes popIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.pop-in {
    animation: popIn 0.5s ease-out;
}

@viewport {
    zoom: 1.0;
    width: device-width;
    initial-scale: 1.0;
    maximum-scale: 1.0;
    user-zoom: fixed;
}

/* Alternative method (for older devices) */
@-ms-viewport {
    width: device-width;
}

textarea {
    resize: none !important;
    overflow-y: scroll;
}

.my-10 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}

.navbar {
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar img {
    margin: -20px 0px
}

.nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.nav-link:hover {
    color: #008000 !important;
}

.content {
    min-height: calc(100% - 56px);
    padding-bottom: 60px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.position-relative {
    width: 100%;
    height: calc(100vh - 86px);
    min-height: 750px;
    overflow: hidden;
}

.position-relative img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.off-white {
    color: #fdfdfd;
}

.text-center {
    align-self: center;
}

.text-upper {
    text-transform: uppercase;
}

.container-fluid {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 85px;
}

.footer {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.darkened-image {
    filter: brightness(50%) blur(10px)url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="a"><feComponentTransfer><feFuncA type="linear" slope="10"/></feComponentTransfer></filter>#a');
    ;
}

.filterbar {
    position: absolute;
    background-color: #fdfdfd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border-radius: 0px 4px 4px 4px;
}

.carousel-item .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

.carousel-item img,
.carousel {
    border-radius: 25px 25px 0 0;
}

.carousel-inner {
    border-radius: 25px 25px 0 0;
}

.socials {
    margin-top: 30px;
    display: inline-flex;
}

.socials a {
    background-color: #111;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50%;
    display: inline-flex;
    text-decoration: none;
    font-size: 40px;
    transition: 0.3s;
}

.socials a:hover {
    background-color: #008000;
    /*background-color: #8d1c20;*/
    transition: 0.3s;
}

.collapsed {
    transition: var(--bs-navbar-toggler-transition);
}

.form-group {
    padding: 10px;
}

.all-container {
    transition: 0.3s;
}

.social-links {
    font-size: 22px;
}

.image-overlay {
    position: relative;
    max-width: 840px;
}

.image-overlay:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115%;
    height: 125%;
    border-radius: 2.5%;
    background-color: #f8f9fa;
    z-index: -1;
    opacity: 0.9;
    box-shadow: 0 0 50px rgb(0 0 0 / 100%);
}

.testimonial {
    text-align: center;
}

.footer-content {
    padding-top: 25px;
    padding-bottom: 25px;
}

.custom-link {
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 50px;
}

.project {
    background-color: #fdfdfd;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.project-content {
    padding: 25px 25px 0 25px;
}

.project a {
    text-decoration: none;
    color: inherit;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    -webkit-filter: drop-shadow(2px 2px 2px #111111);
    filter: drop-shadow(2px 2px 2px #111111);
}

.section-box {
    background-color: #fdfdfd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.section-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
    max-height: 200px;
    overflow-y: auto;
}

.section-box li {
    padding: 10px;
}

.sortbar {
    display: flow-root;
}

.slide {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description-column {
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    border-radius: 50%;
    padding: 75px;
    height: 365px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.description-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
}

.description-column p {
    height: 50%;
}

.description-column img {
    align-self: center;
    width: 100%;
    min-height: 50%;
    height: 50%;
    object-fit: contain;
    object-position: bottom;
}

.tag {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #fdfdfd;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.tag-container {
    margin-bottom: 90px;
}

.btn-container button,
.dropdown select {
    background-color: #006400;
    border: none;
    border-radius: 4px;
    color: #fdfdfd;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-container button:hover {
    background-color: #008000;
}

.two-buttons {
    width: 100%;

}

.project .btn-container button {
    width: 100%;
    border-radius: 0 0 25px 25px;
    padding: 25px 5px;
}

.project .btn-container {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.two-buttons .btn-container {
    width: 50%;
}

.two-buttons .btn-container button {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.custom-btn {
    margin-top: 15px;
    border: #006400 solid !important;
    background-color: #006400 !important;
}

.custom-btn:hover {
    background-color: #008000 !important;
    transition: background-color 0.3s ease;
}

.dropdown {
    display: inline-block;
    margin-bottom: 50px;
}

.dropdown select:hover {
    background-color: #008000;
}

.dropdown select option {
    background-color: #fdfdfd;
    color: #000;
}

.output span {
    font-weight: bold;
}

.splitCharacter {
    height: 23px;
    font-style: italic;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 0px;
}

@media (max-width: 1400px) {
    .description-container {
        grid-gap: 25px;
    }

    .description-column {
        height: 355px;
        padding: 60px;
    }
}

@media (max-width: 1200px) {
    .description-container {
        grid-gap: 25px;
    }

    .description-column {
        height: 295px;
        padding: 31px
    }
}


@media (max-width: 992px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .description-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 100px;
        width: 66%;
        margin: auto;
    }

    .description-column {
        height: 459px;
        padding: 60px
    }
}

@media (max-width: 768px) {
    .description-column {
        height: 340px;
        padding: 60px
    }
}

@media (max-width: 522px) {
    .description-container{
        width: 100%;
    }
    .description-column {
        height: 340px;
        padding: 40px
    }
}


@media (max-width: 440px) {
    .dropdown {
        float: left;
        width: 100%;
        margin-top: 10px;
    }

    .dropdown select {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .socials {
        margin-top: 15px;
    }
}